@import url(//db.onlinewebfonts.com/c/bf9f5d50c1b928ff21436517a1a95ad9?family=Proxima+Nova);
@font-face {font-family: "Proxima Nova"; src: url("//db.onlinewebfonts.com/t/bf9f5d50c1b928ff21436517a1a95ad9.eot"); src: url("//db.onlinewebfonts.com/t/bf9f5d50c1b928ff21436517a1a95ad9.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/bf9f5d50c1b928ff21436517a1a95ad9.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/bf9f5d50c1b928ff21436517a1a95ad9.woff") format("woff"), url("//db.onlinewebfonts.com/t/bf9f5d50c1b928ff21436517a1a95ad9.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/bf9f5d50c1b928ff21436517a1a95ad9.svg#Proxima Nova") format("svg"); }

body {
    color: orange;
    text-align: center;
    font-family: "Proxima Nova";
    background-image: url("background.jpg");
    background-size: cover;
}

.bottom {
    text-align: right;
    width: 100%;
    font-family: cursive;
    color: aqua;
    font-size: larger;
}

#calls {
    margin: auto;
    text-align: left;
    width: 40%;
    background: #9932CC;
    opacity: 0.9;
    padding: 10px;
    border-radius:10px;
    color: aquamarine;
}

#tests {
    margin: auto;
    width: 40%;
    background: whitesmoke;
    opacity: 0.9;
    padding: 10px;
    border-radius:10px;
    color: #333333;
}

input[type=text] {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: large;
    border-radius: 2px;
    border: #333333 solid 2px;
}

input[type=submit] {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: large;
    border-radius: 1px;
    border: #333333 solid 2px;
    background: floralwhite;
}

.formdiv {
    margin: auto;
    width: 60%;
    border-radius: 4px;
    border: #333333 solid 4px;
}