<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sprawl Calculator API</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Sprawl Calculator API</h1>
    <p>An API for retrieving city metrics called through the form of html get requests</p>
    <div id="calls">
        <h1 style="text-align: center">Calls</h1>
        <h3>/info</h3>
        <ul>
            <li>call: requires a get request with field city set to the name of the city which you would like info on</li>
            <li>response: JSON object with fields cityname, population, country, longitude, latitude, and sprawlscore</li>
        </ul>
        <h3>/image</h3>
        <ul>
            <li>call: requires a get request with field city set to the name of the city which you would like an image of</li>
            <li>response: jpeg file of image of city with pixels of interest highlighted (roads and mid-high density housing)</li>
        </ul>
    </div>
    <br>
    <div id="tests">
        <h1>Try it out</h1>
        <div class="formdiv">
            <h2>Get Info: </h2>
            <form action="/info">
                <label for="city">Enter a city:</label><br>
                <input type="text" id="city" name="city" value="boston"><br>
                <input type="submit" value="Submit">
            </form>
        </div>
        <br>
        <div class="formdiv">
            <h2>Get Image:</h2>
            <form action="/image">
                <label for="city">Enter a city:</label><br>
                <input type="text" id="city" name="city" value="boston"><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    <div class="bottom">
        <b>Made with <3 by Luc Coté</b>
    </div>
</body>
</html>